
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="section1">
    <h4><small>Contacts</small></h4>
    <hr>
    <div class="row">
        <div class="col-xs-4 col-md-2"></div>
        <div class="col-xs-6 col-md-8" ng-hide="showHide">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#4B7082;color:white"><h4 align="center">Add New Contact Records</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-inline" id="form1">

                            <div class="col-md-5" style="padding-left:80px;">
                                <div class="form-inline">
                                    <label for="" id="label">First Name</label>
                                    <input type="text" class="form-control" required id="txtFName">
                                </div>
                                <br />
                                <div class="form-inline">
                                    <label for="" id="label">Email Id</label>
                                    <input type="text" class="form-control" required id="txtEmail">

                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="" id="label">Status</label>
                                    <input type="radio" name="Status" value="1" required> Active <input type="radio" name="Status" value="0" required> Inactive<br>

                                </div>
                            </div>
                            <div class="col-md-5" style="padding-left:80px;">
                                <div class="form-inline">
                                    <label for="" id="label">Last Name</label>
                                    <input type="text" required id="txtLName" class="form-control">
                                </div>
                                <br />
                                <div class="form-inline">
                                    <label for="" id="label">Phone Number</label>
                                    <input type="text" class="form-control" required id="txtMobileNo">

                                </div><br />
                                <div class="form-inline">
                                    <label class="error" id="lblerror"></label>
                                </div>

                                <br />
                                <input type="submit" class="btn btn-success" id="btnSubmit" value="Submit" />

                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-danger" role="alert" id="alert-Grid"></div>
            <table align="center" id="list"></table>
            <div id="pager"></div>

        </div>
    </div>  
</div>
<script type="text/javascript">

    $(function () {
        $("#alert-Grid").hide();
        ContactDetails.GetContactData();
        ContactDetails.insertContactDetails();
    });
</script> 
